<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    {% comment %}
    <h2 class="footer-heading" style="text-align: center;">Contact</h2>
    {% endcomment %}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% comment %}
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
            {% endcomment %}
            </li>
            {% comment %}
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {% endcomment %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
        <span class="copyright">
            &#169 Copyright 2024, Gaurav S. Deshmukh. All Rights Reserved.
        </span>
      </div>
      {% comment %}
      <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>
      </div>
      {% endcomment %}
    </div>

  </div>

</footer>
