---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.spotlight{
    display: block;
    max-width: 50%;
    max-height: auto;
}

.social-box{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}
